html
{
	height: 100%;
	overflow: hidden;
}

body
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url('screen_background.jpg');
	background-size: 100% 100%;
	overflow: hidden;
}

form.story
{
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 5%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 16px;
}

p.story
{
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 24px;
	max-height: 60%;
	overflow: hidden;
}

div.h_space
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100px;
	width: 900px;
	float: left;
	margin: auto;
	padding: auto;
}

div.story
{
	background-color: black;
	opacity: 0.6;
	text-align: justified;
	position: fixed;
	top: 0px;
	right: 125px;
	color: white;
	width: 700px;
	height: 1000px;
	float: left;
}

div.text
{
	text-align: justified;
	position: fixed;
	top: 0px;
	right: 125px;
	color: white;
	width: 700px;
	height: 1000px;
	float: left;
}

div.youtube
{
	position: fixed;
	top: 250px;
	left: 125px;
	float: left;
	height: 420px;
	width: 700px;
}
